/* INDEX.HTML ESTILOS*/

.centro{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.space-a{
    display: flex;
    justify-content: space-around;
}

.space-b{
    display: flex;
    justify-content: space-between;
}

.mx-7{
    margin-left: 7vh;
    margin-right: 7vh;
}

.gradient{
    background-image: linear-gradient(to top white, black);
}

.altura{
    height: 40vh;
}

.preto{
    color: rgba(255, 255, 255, 0);
}

.branco{
    color: rgb(255, 255, 255);
}

.margin{
    margin: 10vh;
}

.borda{
    border-radius: 10vh;
}